{% for post in posts %}
<div class="card w-50">
  <div class="card-body">
    <img src="{{post.image.url}}" alt="img">
    <p>{{post.content}}</p>
    <div>
      <form action="{% url 'posts:update' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Edit</button>
      </form>
      <form action="{% url 'posts:delete' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">DELETE</button>
      </form>
      
      
    </div>
    
  </div>
</div>
{% endfor %}