{% extends "base.html" %}

{% block content %}
<h1>New Post</h1>
<p>Content</p>


<div class="card w-50">
  <div class="card-body">
    <form action="{% url 'posts:create' %}" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
  </div>
</div>
{% endblock content %} 


{% comment %} <form action="{% url 'posts:create' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div> {% endcomment %}