
{% for post in posts %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt='img'>
        {% endif %}
        {{ post.content }}
        <p></p>

        <div style="display: flex; gap: 10px;">
            <a href="{% url 'posts:update' post.pk %}">
                <button type="button" class="btn btn-info">Edit</button>
            </a>

            <form action="{% url "posts:delete" post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
<br>
{% endfor %}

